html, body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-word: #5134ff;
}

.word-carousel {
font-family: sans-serif;
font-size: 36px;
overflow: hidden;
position: relative;
width: 100%; /* Adjust as needed */
height: 100%; /* Adjust as needed */
}

.word-swapper {
display: inline-block;
position: absolute;
width: 100%;
padding-left: 0.5em;
animation: swap-words 6s ease-in-out infinite; /* Adjusted duration for 6 words */
}

.word-swapper::before {
white-space: nowrap;
transition: content 0.5s ease-in-out; /* Added transition */
}

.word-swapper::after {
background-color: var(--bg-word);
animation: swap-words 6s ease-in-out infinite; /* Adjusted duration for 6 words */
content: "ANAGHA";
white-space: nowrap;
position: absolute;
}

@keyframes swap-words {
0% {
  content: "AI";
  opacity: 1;
}
19% {
  content: "BLOCKCHAIN"; /* Second word */
  opacity: 1;
}
38% {
  content: "DATA SCIENCE"; /* Third word */
  opacity: 1;
}
57% {
  content: "ELECTRONICS"; /* Fourth word */
  opacity: 1;
}
76% {
  content: "MACHINE LEARNING"; /* Fifth word */
  opacity: 1;
}
95% {
  content: "FULL STACK WEB DEVELOPMENT"; /* Fifth word */
  opacity: 1;
}
}