html, body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-word: #5134ff;
}

.word-carousel {
  font-family: sans-serif;
  font-size: 36px;
  overflow: hidden;
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.word-swapper {
  background-color: var(--bg-word);
  display: inline-block;
  position: absolute;
  width: 100%;
  animation: swap-words 6s ease-in-out infinite; /* Adjusted duration for 6 words */
}

.word-swapper::before {
  content: "AI";
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out; /* Added transition */
}

.word-swapper::after {
  content: "AI BLOCKCHAIN DATA SCIENCE ELECTRONICS MACHINE LEARNING FULL STACK WEB DEVELOPMENT";
  white-space: nowrap;
  position: absolute;
}

@keyframes swap-words {
  0% {
    content: "AI";
    opacity: 1;
  }
  17% {
    content: "BLOCKCHAIN"; /* Second word */
    opacity: 1;
  }
  33% {
    content: "DATA SCIENCE"; /* Third word */
    opacity: 1;
  }
  50% {
    content: "ELECTRONICS"; /* Fourth word */
    opacity: 1;
  }
  67% {
    content: "MACHINE LEARNING"; /* Fifth word */
    opacity: 1;
  }
  83% {
    content: "FULL STACK WEB DEVELOPMENT"; /* Fifth word */
    opacity: 1;
  }
}